[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytoml = "*"
Sphinx = "*"

[dev-packages]
# flit = "*"  # sometimes causes errors in pipenv. manually install for now.
keyring = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"
